// 
// Buttons
// 

//- Custom XL button styling

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

// Button images sizing
.btn-reset img,
a img[src*="buttons"] {
    max-width: 200px;
    height: auto;
    width: 100%;
}
