// 
// Forms
// 

#contactForm {
    .form-control {
        background-color: $light-bg;
        border-color: $gray-900;

        &:focus {
            background-color: $light-bg;
            border-color: #ff7a57;
            box-shadow: 0 0 0 0.25rem rgba(255, 122, 87, 0.25);

            ~ label {
                color: #ff7a57;
            }
        }
    }

    .form-floating {
        label {
            transition: color 0.25s ease;
        }
    }
}

