// 
// Forms
// 

#contact.page-section {
    .contact-form-column {
        @include media-breakpoint-down(lg) {
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            margin-left: auto;
            margin-right: auto;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 2.75rem;
            padding-right: 2.75rem;
        }
    }
}

#contactForm {
    .form-control {
        background-color: $light-bg;
        border-color: $gray-900;

        &:focus {
            background-color: $light-bg;
            border-color: #ff7a57;
            box-shadow: 0 0 0 0.25rem rgba(255, 122, 87, 0.25);

            ~ label {
                color: #ff7a57;
            }
        }
    }

    .form-floating {
        label {
            transition: color 0.25s ease;
        }
    }
}

