// 
// Navbar
// 

#mainNav {
    background-color: $light-bg;
    transition: background-color 0.2s ease;

    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        color: $gray-900;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $gray-600;
                font-family: $font-family-sans-serif;
                font-weight: 500;
                font-size: 0.9rem;
                padding: 0.75rem 0;
                text-transform: uppercase;

                &:hover,
                &:active {
                    color: $primary;
                }

                &.active {
                    color: $primary !important;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint
        box-shadow: none;
        background-color: $light-bg;

        .navbar-brand {
            color: $gray-900;

            &:hover {
                color: $primary;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $gray-900;
                    padding: 0 1rem;

                    &:hover {
                        color: $primary;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        // Navbar styling applied when the page is scrolled
        &.navbar-shrink {
            background-color: $light-bg;

            .navbar-brand {
                color: $gray-900;

                &:hover {
                    color: $primary;
                }
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $gray-900;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
