// 
// Collection Carousel
// 

.carousel {
    .carousel-inner {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 80vh;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 0.7;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

