// 
// Masthead
// 

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});

    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!

    background-color: $light-bg;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 10rem;
        padding-bottom: 10rem;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }
}

.masthead-logotype {
    height: 90px;
    min-width: 225px;
}

.decorative-icon {
    font-size: 1.5rem;
}

// About page two-column hero
.masthead-about {
    .divider {
        margin-left: 0;
        margin-right: auto;
    }

    @include media-breakpoint-up(lg) {
        .col-lg-6 img {
            object-fit: cover;
            height: 100%;
        }
    }
}
