extends layout.pug

block title
    title Messaggio inviato

block content
    section.page-section(style='min-height:60vh;display:flex;align-items:center;justify-content:center;')
      .container.px-4.px-lg-5.text-center
        h1 Grazie!
        p Il tuo messaggio è stato inviato. Ti risponderemo al più presto.
        p
          a.btn.btn-primary(href='/') Torna alla home
