extends layout.pug

block title
    title= t('success.title')

block content
    section.page-section(style='min-height:60vh;display:flex;align-items:center;justify-content:center;')
      .container.px-4.px-lg-5.text-center
        h1= t('success.heading')
        p= t('success.message')
        p
          a.btn.btn-primary(href='index.html')= t('success.back_home')
