// 
// Typography
// 

$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-calligraphy: "Allura", cursive;

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-sans-serif;